@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>
        <h1>This is the logged in view</h1>
        Authenticated
    </p>
}
else
{
    <h1>This is the logged out view</h1>
    <p>
        Not authenticated
    </p>
}